* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    // monospace;
    font-family: "Poppins",sans-serif;
}

@import 'navbar';
@import 'header';
@import 'input';
@import 'card';

.section{
    background-color: #f0f1f6;
    margin-top: 11rem;
    padding-bottom: 5rem;
}

.orden-cards{
    display: flex;
    flex-direction: column-reverse;
}