* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    // monospace;
    font-family: "Poppins",sans-serif;
}

@import 'navbar';
@import 'header';
@import 'input';
@import 'card';
@import 'statistics';
@import 'boost';

.section{
    background-color: #f0f1f6;
    margin-top: 11rem;
}

.orden-cards{
    display: flex;
    flex-direction: column-reverse;
}

.get-started {
    color: #fff;
    text-align: center;
    font-weight: 700;
    border-radius: 1.5rem;
    border: 1px solid hsl(180, 66%, 49%);
    background-color: hsl(180, 66%, 49%);
    padding: .8rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s;
    margin-top: 30px;
    &:hover{
        background-color: #95e7e7;
        border: 1px solid #95e7e7;
    }
}
